body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0b0b0c, #2b0f3b);
  font-family: 'Rubik', system-ui, sans-serif;
  color: #eaeaea;
  font-weight: 600;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.a-container {
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}