.tey-todoitem {
  background: rgba(20, 10, 30, 0.5);
  border-left: 4px solid #7f5af0;
  border-radius: 12px;
  padding: 1.25rem;
  margin: 1.5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .35rem;

  text-align: center;
  box-shadow:0px 4px 25px rgba(127, 90, 240, 0.25);
}
.tey-icon {
  font-size: 2rem;
}
.tey-title{
  margin: 0.25rem 0 0;
  color: #eaeaea;
  font-weight: 600;
  word-break: break-word;
}
.tey-subtitle{
  margin: 0;
  font-size: 0.9rem;
  color: #bdbdbd;
}
